<%- include('../_header'); -%>

<body>
    <div>
           <h4>Welcome to Kizz <%=quizz.title%></h4>
           <h6>The Id to share the quizz is <%=quizz.pin%></h6>
    </div>

    <div>
        <ul id='liste_player'>
            <% for (var i=0; i<quizz.player.length; i++){%>
                <li>
                    <%= quizz.player[i]%>
                </li>
            <%}%>
        </ul>
    </div>
    <%- include('../_footer'); -%>